<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h1>Welcome, <%= user.fullname %></h1>
  <p>Phone: <%= user.name %></p>
  <p>Email: <%= user.email %></p>
  <p>Phone: <%= user.phone %></p>
  <a href="/users/update">Update Profile</a>
</body>
</html>
